body{
    background-color: black;
}
.subscribe-button { 
    font-family: "Roboto", Arial, sans-serif;
    font-optical-sizing: auto;
    font-weight: 585;
    font-size: 12px;

    background-color: rgba(241, 241, 241);
    background-origin: padding-box;
    background-size: auto;
    margin: 0px;
    color: black;
    border-radius: 20px;
    border-width: 0;
    height: 36px;
    width: 94.5625px;
    cursor: pointer;
    content: subscribe;
    text-size-adjust: 100%;
}

.subscribe-button:hover {
    background-color: rgba(241, 237, 237, 0.919);
}

.subscribe-button:active {
    background-color: rgb(168, 17, 17);
    color: white;
}